<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.leal.cipm_testing">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="com.google.android.gms.permission.AD_ID"
        tools:node="remove" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        tools:targetApi="n">
        <activity
            android:name=".Forgotpassword"
            android:exported="false" />
        <activity
            android:name=".chooseActivity2"
            android:exported="false" />
        <activity
            android:name=".chatgptidea"
            android:exported="false" />
        <activity
            android:name=".FormularioInfo2023"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Estructura2023"
            android:exported="false"
            android:screenOrientation="portrait"

            />
        <activity
            android:name=".Premium2023"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Availability2023"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Cultura2023"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Registro2023"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Login2023"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Transicion2023"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ConInt2023"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Vocabulary2023"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan " />
        <activity
            android:name=".SpaInt2023"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ChatMaestro2023"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Profile2023"
            android:exported="false"
            android:screenOrientation="portrait" />
        <!--
<activity
            android:name=".TestStudent2023"
            android:exported="false"
            android:screenOrientation="portrait" />  FIN CARPETA SCREENS
        -->
        <activity
            android:name=".MyPlan"
            android:exported="false" />
        <activity
            android:name=".PlanDeEstudiosChooser"
            android:exported="false" />
        <activity
            android:name=".ChooseLevel"
            android:exported="false" />
        <activity
            android:name=".Culturalphrases"
            android:exported="false" />
        <activity
            android:name=".TestResults"
            android:exported="false" />
        <activity
            android:name=".MainTesting"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <service
            android:name=".PushNotificationService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>